.instructions {
    grid-area: instructions;
    background-color: #97B0AA;
}

.photo {
    grid-area: photo;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details {
    grid-area: details;
    background-color: #97B0AA;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ingredients {
    grid-area: ingredients;
    background-color: #303c4e;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    background-color: #FFFFFF;
    padding: 1em;
    overflow: auto;
    position: absolute;
    width: 78%;
    height: 85%;
    grid-template-areas:
    "instructions instructions photo details"
    "instructions instructions ingredients ingredients"
    "instructions instructions ingredients ingredients"
    "instructions instructions ingredients ingredients";
}

.grid-container > div {
    position: relative;
    text-align: center;
    font-size: 20px;
    border: 1px solid #97B0AA;
    border-radius: 1em;
}

h1 {
    color: white;
    font: bold italic normal 30px/30px seguisbi;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}

input, textarea {
    background-color: transparent;
    border: none;
}

textarea {
    width: 90%;
    padding: 0;
}

.instructions > textarea,
.ingredients > textarea {
    font: normal normal normal 20px/20px seguisbi;
    color: #FFFFFF;
    line-height: 1.3em;
    text-align: justify;
}

.ingredients > textarea {
    text-align: center;
}

input {
    text-align: center;
    padding: 0;
}

.fas.fa-camera {
    font-size: 3em;
    color: #00C6B9;
}

.details.inputs > input {
    font: normal normal normal 18px/18px seguisbi;
    color: #FFFFFF;
    padding: 1em;
}

.title > input {
    width: 112%;
    font: bold italic normal 30px/30px seguisbi;
    font-size: 3em;
    color: #FFFFFF;
    text-shadow: 0 5px 5px #00000029;
}

.save-button, .modify-recipe-button,
.delete-recipe-button {
    box-shadow: 0 9px 9px #00000029;
    color: #FFFFFF;
    background: #00C6B9;
    //background: #4ad4f8;
    letter-spacing: 0.1em;
    font: normal normal normal 14px/14px Segoe UI;
    text-align: center;
    width: 100%;
    border-radius: 2em;
    padding: 1.5em 3em;
    border: none;
}

.fas.fa-save, .fas.fa-edit,
.fas.fa-trash {
    font-size: 1em;
    color: #FFFFFF;
}

.category-selectbox{
    background-color: #97B0AA;
    text-align: center;
    border: none;
    font: normal normal normal 18px/18px seguisbi;
    color: #FFFFFF;
    padding: 1em;
    border-radius: 1em;
    text-align-last: center;
}

header {
    background-color: #303c4e;
}
