section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
}

.allRecipes > div > img {
    height: 83%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
    box-shadow: 0 8px 8px #00000029;
}

.allRecipes > div {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-recipe {
    width: 15%;
}

.add-recipe-button {
    box-shadow: 0 9px 9px #00000029;
    color: #FFFFFF;
    background: #00C6B9;
    letter-spacing: 0.1em;
    font: normal normal normal 14px/14px Segoe UI;
    text-align: center;
    width: 100%;
    border-radius: 2em;
    padding: 1.5em 0;
}

.recipe-id-button {
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    font: normal normal normal 19px/19px seguisbi;
    background-color: #303c4e;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    border: none;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 8px 8px #00000029;
}

.fas.fa-plus {
    color: #FFFFFF;
    font-size: 1.1em;
}
